<section class="portfolio">
    <div class="card">
        <img src="https://images.pexels.com/photos/25961651/pexels-photo-25961651/free-photo-of-two-deer-standing-on-the-meadow.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Project 1">
        <h3>Deers in the wild</h3>
        <p>Kuligów, Województwo mazowieckie, Polska

            .</p>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/5805608/pexels-photo-5805608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Project 2">
        <h3>Lions Love</h3>
        <p>Lions Love in Kenya</p>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/6161805/pexels-photo-6161805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Horses">
        <h3>Horses</h3>
        <p>Herd of Horses on White Wooden Fence
        </p>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/9185432/pexels-photo-9185432.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Project 4">
        <h3>Zebra</h3>
        <p>Zebra and elephant encounters</p>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/1299391/pexels-photo-1299391.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Project 5">
        <h3>Penguins</h3>
        <p>Johannesburg, GP, South Africa, Flock of Penguins Near Sea
            .</p>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/259554/pexels-photo-259554.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Project 6">
        <h3>Giraffes</h3>
        <p>Three Giraffes on Land.</p>
    </div>
</section>